

.layout {
  display: flex;
  width: 100%;
}

.dashboard {
  flex: 1;
  padding: 9px;
  background: #f3f4f6;
  min-height: 100vh;
  min-width: 100%;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.card-img-red,
.card-img-blue,
.card-img-purple,
.card-img-orange {
  margin-left: 2px;
  padding: 5px;
  border-radius: 7px;
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.card-img-red    { background-color: rgb(248, 201, 201); }
.card-img-blue   { background-color: rgb(189, 224, 238); }
.card-img-purple { background-color: rgb(230, 202, 235); }
.card-img-orange { background-color: rgb(243, 236, 226); }

.card h4 {
  font-size: 13px;
  color: #000000;
  margin: 0 0 4px 0;
  font-weight: 500;
}

.card-value-red    { color: #ef4444; font-size: 20px; font-weight: 700; }
.card-value-blue   { color: rgb(60, 156, 225); font-size: 20px; font-weight: 700; }
.card-value-purple { color: rgb(132, 17, 204); font-size: 20px; font-weight: 700; }
.card-value-orange { color: rgb(220, 145, 46); font-size: 20px; font-weight: 700; }



.chart-container {
  display: grid;
  grid-template-columns: 1.6fr 1.4fr;
  grid-template-rows: auto auto;
  gap: 12px;
  align-items: start;
}

.temp-chart-box {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  min-height: 200px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  padding: 0;
}


.co-chart-box {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  padding: 0;
}

.bottom-row {
  grid-column: 1 / -1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  align-items: start;
}

.chart-box {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  padding: 10px 14px;
  
}



.temp-chart-card {
  padding: 8px 14px 6px 12px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.temp-chart-area {
  margin-left: -6px;
  height: 140px;
}

.temp-chart-area > div {
  height: 140px !important;
}



.temp-chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.temp-chart-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avg-title{
  font-size: 14px;
}
.temp-icon {
  background: #fee2e2;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp-label {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.temp-status-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.temp-status-badge.normal { background: #dcfce7; color: #16a34a; }
.temp-status-badge.danger { background: #fee2e2; color: #dc2626; }

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.temp-status-badge.normal .status-dot { background: #16a34a; }
.temp-status-badge.danger  .status-dot { background: #dc2626; }

.temp-current {
  margin: 4px 0 6px;
}

.temp-value {
  font-size: 20px;
  font-weight: 700;
  color: #ef4444;
}

.temp-unit {
  font-size: 13px;
  color: #ef4444;
  font-weight: 500;
}

.temp-no-data {
  font-size: 14px;
  color: #9ca3af;
}

.temp-chart-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
  border-top: 1px solid #f3f4f6;
  font-size: 13px;
  color: #000000;
}

.temp-chart-footer strong {
  color: #000000;
}



.co2-card {
  padding: 8px 14px 14px 12px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.co2-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.co2-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.co2-icon-box {
  background: #e0f2fe;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.co2-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.co2-label {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.co2-status-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.co2-badge-normal  { background: #dcfce7; color: #16a34a; }
.co2-badge-warning { background: #fff7ed; color: #ea580c; }
.co2-badge-danger  { background: #fee2e2; color: #dc2626; }
.co2-badge-nodata { background: #fee2e2; color: #dc2626; }
.co2-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.co2-badge-normal  .co2-dot { background: #16a34a; }
.co2-badge-warning .co2-dot { background: #ea580c; }
.co2-badge-danger  .co2-dot { background: #dc2626; }
.co2-badge-nodata .co2-dot { background: #ff0303; }

.co2-card svg {
  margin-top: 0px !important;
}

.co2-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
  border-top: 1px solid #f3f4f6;
  margin-top: 2px;
}

.co2-avg-label {
  font-size: 13px;
  color: #000000;
}

.co2-avg-value {
  font-size: 15px;
  font-weight: 700;
  color: #3b82f6;
}



.hum-card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: white;
  border-radius: 14px;
}

.hum-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.hum-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hum-icon-box {
  background: #dbeafe;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hum-label {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.hum-status-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.hum-badge-normal  { background: #dcfce7; color: #16a34a; }
.hum-badge-warning { background: #fef9c3; color: #ca8a04; }
.hum-badge-danger  { background: #fee2e2; color: #dc2626; }
.hum-badge-nodata { background: #fee2e2; color: #dc2626; }


.hum-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.hum-badge-normal  .hum-dot { background: #16a34a; }
.hum-badge-warning .hum-dot { background: #ca8a04; }
.hum-badge-danger  .hum-dot { background: #dc2626; }
.hum-badge-nodata .hum-dot {  background: #ff0303; }
.hum-body {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
}

.hum-drop-wrapper {
  flex-shrink: 0;
}

.hum-drop-wrapper svg {
  width: 80px !important;
  height: 95px !important;
}

.hum-values {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hum-current {
  display: flex;
  align-items: baseline;
  gap: 2px;
}

.hum-value {
  font-size: 26px;
  font-weight: 700;
  color: #3b82f6;
}

.hum-unit {
  font-size: 14px;
  color: #3b82f6;
  font-weight: 500;
}

.hum-avg-box {
  display: flex;
  flex-direction: column;
  background: #f8fafc;
  border-radius: 10px;
  padding: 5px 10px;
  gap: 2px;
}

.hum-avg-label {
  font-size: 12px;
  color: #6b7280;
}

.hum-avg-value {
  font-size: 14px;
  font-weight: 700;
  color: #3b82f6;
}

.hum-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  border-top: 1px solid #f3f4f6;
  font-size: 12px;
  color: #6b7280;
  margin-top: 4px;
}

.hum-footer strong {
  color: #111827;
  font-weight: 600;
}



.light-card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background: white;
  border-radius: 14px;
}

.light-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.light-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.light-icon-box {
  background: #fff7ed;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-label {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.light-status-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.light-badge-normal  { background: #dcfce7; color: #16a34a; }
.light-badge-warning { background: #fff7ed; color: #ea580c; }
.light-badge-dark    { background: #f3f4f6; color: #6b7280; }
.light-badge-nodata  {background: #fee2e2; color: #dc2626;}
.light-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.light-badge-normal  .light-dot { background: #16a34a; }
.light-badge-warning .light-dot { background: #ea580c; }
.light-badge-dark    .light-dot { background: #6b7280; }
.light-badge-nodata .light-dot  {background: #ff0303;}


.light-body {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
}

.light-sun-wrapper {
  flex-shrink: 0;
}

.light-sun-wrapper svg {
  width: 80px !important;
  height: 80px !important;
}

.light-values {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.light-current {
  display: flex;
  align-items: baseline;
  gap: 2px;
}

.light-value {
  font-size: 26px;
  font-weight: 700;
  color: #f97316;
}

.light-unit {
  font-size: 14px;
  color: #f97316;
  font-weight: 500;
}

.light-avg-box {
  display: flex;
  flex-direction: column;
  background: #f8fafc;
  border-radius: 10px;
  padding: 5px 10px;
  gap: 2px;
}

.light-avg-label {
  font-size: 12px;
  color: #6b7280;
}

.light-avg-value {
  font-size: 14px;
  font-weight: 700;
  color: #f97316;
}

.light-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  border-top: 1px solid #f3f4f6;
  font-size: 12px;
  color: #6b7280;
  margin-top: 4px;
}

.light-footer strong {
  color: #111827;
  font-weight: 600;
}
